<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une Filière</title>
</head>
<body>
<h1>Ajouter une Filière</h1>
<form th:action="@{/filieres}" th:object="${filiere}" method="post">
    <!-- Champ pour le nom de la filière -->
    <label for="filiere">Nom de la Filière :</label>
    <input type="text" id="filiere" th:field="*{filiere}" required/><br><br>

    <!-- Champ pour l'effectif -->
    <label for="effectif">Effectif :</label>
    <input type="number" id="effectif" th:field="*{effectif}" required/><br><br>

    <button type="submit">Ajouter</button>
</form>
<br>
<a th:href="@{/filieres}">Retourner à la liste des filières</a>
</body>
</html>
